---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import PostHeader from '../../components/PostHeader.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  frontmatter: { minutesRead: string };
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const { Content, remarkPluginFrontmatter: frontmatter } = await post.render();
const { title, description, author, publishedDate, tags, image, minutesRead } =
  frontmatter;
---

<Layout {title} {description} {image} data={post.data}>
  <PostHeader
    {title}
    {description}
    {publishedDate}
    {author}
    {tags}
    {image}
    {minutesRead}
  />
  <article class='container mb-32 px-2 lg:px-0'>
    <div class='prose mx-auto items-center'>
      <Content />
    </div>
  </article>
</Layout>
