---
import { Image } from '@astrojs/image/components';
import { formatDate } from '../utils';

const { post } = Astro.props;
const { title, publishedDate, author, image, tags, canonicalURL, description } =
  post.data;
const date = formatDate(publishedDate);
---

<article
  class='relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-60 sm:pt-48 lg:pt-60 shadow-lg lg:shadow-xl'
>
  <Image
    src={image.src}
    alt={image.alt}
    width={400}
    height={225}
    fit='cover'
    quality={80}
    format='avif'
    loading='eager'
    class='absolute inset-0 -z-10 h-full w-full object-cover'
  />

  <div
    class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40'
  >
  </div>
  <div
    class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10'
  >
  </div>

  <h3 class='mt-3 text-lg font-semibold leading-6 text-white'>
    <a href={canonicalURL}>
      <span class='absolute inset-0'></span>
      {title}
    </a>
  </h3>
  <div
    class='flex text-xs flex-wrap items-center gap-y-1 overflow-hidden leading-6 text-gray-300'
  >
    <div class='-mr-4 flex items-center gap-x-4'>
      <div class='flex gap-x-2.5'>
        by {author}
      </div>
      <svg
        viewBox='0 0 2 2'
        class='-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50'
      >
        <circle cx='1' cy='1' r='1'></circle>
      </svg>
    </div>
    <time datetime={date} class='ml-8'>{date}</time>
  </div>
  <small class='my-2'>
    {
      tags.map((tag: string) => (
        <a
          href={`/category/${tag}/`}
          class='bg-sky-900 text-almost-white rounded px-2 py-1 mr-2 text-xs'
        >
          {tag}
        </a>
      ))
    }
  </small>
  <div>
    <p class='text-almost-white mt-2 text-sm'>
      {description}
    </p>
  </div>
</article>
