---
import Header from '../components/Header';
import Footer from './Footer.astro';
// Component imports
import Head from './Head.astro';
import '@fontsource/montserrat';

const { title, description, image, data, robots } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='h-full'>
  <Head {title} {description} {image} {data} {robots} />
  <Header client:load />
  <body class='text-medium-gray bg-almost-white z-0 h-full'>
    <slot />
    <Footer />
  </body>
</html>
